<a href="https://colab.research.google.com/github/Danicoder/Especializacion_IA_BigData/blob/main/Pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import pandas as pd
#Directorio
dic_datos = {
    "Nombre": ['Bulbasaur', 'Charmander', 'Sqirtle', 'Caterpie', 'Golduck'],
    "Evolución": ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod', 'Kodakku'],
    "Tipo": ['cesped', 'fuego', 'agua', 'bicho', 'agua'],
    "Hp": [45, 39, 44, 45, 139],
    "Pokedex": ['Si', 'No', 'Si', 'No', 'Si']
}
#Asignación DataFrame
pokemon = pd.DataFrame(dic_datos)
#Visualización
pokemon = pd.DataFrame(dic_datos)
#Devuelve las 5 primeras filas por defecto
print("\nDataFrame sin ordenar:")
print(pokemon.head())
#Reordena
pokemon = pokemon[['Nombre','Tipo', 'Hp','Evolución','Pokedex']]
print("\nDataFrame reordenado:")
print(pokemon)
#Tipo de dato de cada columna:
print("\nDataFrame reordenado por columna:")
print(pokemon.dtypes)
#ordenado por tipo de pokemon
print("\nDataFrame reordenado por tipo:")
pokemon.sort_values(by="Tipo")
#Convierte a mayúsculas el contenido de la columna de Conversión
print("\nConviersión contenido columna:")
print(pokemon['Evolución'].str.upper())
#Suma agrupada
print(f"Suma total: {pokemon['Hp'].sum()}")

DataFrame sin ordenar:
       Nombre   Evolución    Tipo   Hp Pokedex
0   Bulbasaur     Ivysaur  cesped   45      Si
1  Charmander  Charmeleon   fuego   39      No
2     Sqirtle   Wartortle    agua   44      Si
3    Caterpie     Metapod   bicho   45      No
4     Golduck     Kodakku    agua  139      Si

DataFrame reordenado:
       Nombre    Tipo   Hp   Evolución Pokedex
0   Bulbasaur  cesped   45     Ivysaur      Si
1  Charmander   fuego   39  Charmeleon      No
2     Sqirtle    agua   44   Wartortle      Si
3    Caterpie   bicho   45     Metapod      No
4     Golduck    agua  139     Kodakku      Si

DataFrame reordenado por columna:
Nombre       object
Tipo         object
Hp            int64
Evolución    object
Pokedex      object
dtype: object

DataFrame reordenado por tipo:

Conviersión contenido columna:
0       IVYSAUR
1    CHARMELEON
2     WARTORTLE
3       METAPOD
4       KODAKKU
Name: Evolución, dtype: object
Suma total: 312